<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#movie_form_modal_<%= movie.id if movie.id %>" style="margin-bottom: 1%;">
  <%= button_text %>
</button>

<!-- Modal -->
<div class="modal fade" id="movie_form_modal_<%= movie.id if movie.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(model: movie, local: true, method: 'post') do |form| %>
          <%= form.hidden_field :movie_id, value: movie.id, name: 'movie_id' %>
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control", name: 'name' %>
          </div>


          <div class="form-group">
            <%= form.label :year %>
            <input type="text" list="years" class="form-control" name="year_name" value="<%= movie.release_year.cwyear if movie.release_year  %>" required>
          </div>

          <div class="form-group">
            <%= form.label :rating %>
            <select class="form-control" name="rating" required>
              <% for i in 1..5 %>
                <option value="<%= i %>" <%= 'selected' if movie.rating && movie.rating == i %>><%= i %></option>
              <% end %>
            </select>
          </div>

          <div class="actions">
            <%= form.submit button_text, class: 'btn btn-secondary btn-sm' %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<datalist id="years">
  <% for i in 1..118 %>
    <option value="<%= 1900 + i %>"></option>
  <% end %>
</datalist>