

<div class="container" style="padding-top: 1%;">
  <%= render 'welcome/movie_form', movie: Movie.new, button_text: 'Create Movie'  %>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Movie Name</th>
      <th scope="col">Year</th>
      <th scope="col">Rating</th>
      <th scope="col">Settings</th>
    </tr>
    </thead>
    <tbody>
    <% @movies.each_with_index do |movie,idx| %>
      <tr>
        <th scope="row"><%= idx + 1  %></th>
        <td><%= movie.name  %></td>
        <td><%= movie.release_year.cwyear  %></td>
        <td><%= movie.rating  %></td>
        <td>
          <%= render 'welcome/movie_form', movie: movie, button_text: 'Update Movie'  %>
          <%= link_to 'Destroy Movie', destroy_movie_path(:movie_id => movie.id), class: "btn btn-danger btn-sm", style: "margin-bottom: 1%;color:white;", method: :get, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
