<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path  %>">
    <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Movies Manager
  </a>
</nav>